<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="environment" value="qa"/> <!--qa, staging, local, dev, prod-->
    <add key="driver" value="chrome"/> <!--chrome, firefox, ie, edge, opera, safari-->
    <add key="os" value="windows"/> <!--windows, linux, mac-->
  </appSettings>
  <startup>
    <supportedRuntime version="4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>