<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="environment" value="qa"/> <!--local, dev, qa, staging-->
    <add key="driver" value="chrome"/> <!--chrome, firefox, ie, edge, opera, safari-->
  </appSettings>
  <startup>
    <supportedRuntime version="4.0" sku=".NetFramework,Version=v4.6.1"/>
  </startup>
</configuration>